ansi2html
ansiconv
antlr4-python3-runtime
azure-common
azure-storage-blob
colormap
coverage
dbfread
easydev
folium
jyquickhelper
keyring
Mako
pandas_datareader
pandocfilters
paramiko
Pillow
# Choose either one or the other
# pycrypto still not available on python 3.7
pycryptodome # pycrypto
pyensae>=1.2.788
pylint>=2.4.2
pymyinstall
pyquickhelper>=1.9.3325
qgrid
sphinx>=2.0
wheel
